<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NeuralNetwork" version="7.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Rychusoft.NumericalLibraries.Calculator" version="1.0.6217.35254" targetFramework="net452" />
  <package id="Rychusoft.NumericalLibraries.Derivative" version="1.0.6217.35254" targetFramework="net452" />
</packages>